{% extends "admin/change_list.html" %}
{% load static humanize %}

{% block content_title %}
    {% comment %} <h1> Transaction  Metrics </h1> {% endcomment %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
// withdrawals 
document.addEventListener('DOMContentLoaded', () => {
  const withdraw_ctx = document.getElementById('data_chart').getContext('2d');

  // data
  const withdrawData = {{ withdraw_as_json | safe }};
  const transferData = {{ transfer_as_json | safe }};
  const paymentData = {{ payment_as_json | safe }};
  const depositData = {{ deposit_as_json | safe }};

  // Parse the dates to JS
  withdrawData.forEach((d) => {
    d.x = new Date(d.date);
  });
  transferData.forEach((d) => {
    d.x = new Date(d.date);
  });
  paymentData.forEach((d) => {
    d.x = new Date(d.date);
  });
  depositData.forEach((d) => {
    d.x = new Date(d.date);
  });

  // Render the chart
  const data_chart = new Chart(withdraw_ctx, {
    type: 'bar',
    data: {
      datasets: [
        {
          label: 'Total Deposits',
          data: depositData,
          backgroundColor: 'rgba(0, 14, 110, 1)',
        },
        {
          label: 'Total Withdrawals',
          data: withdrawData,
          backgroundColor: 'rgba(252,104,4,1)',
        },
        {
          label: 'Total Transfers',
          data: transferData,
          backgroundColor: 'rgba(252, 240, 232, 1)',
        },
        {
          label: 'Total Payments',
          data: paymentData,
          backgroundColor: 'rgba(100, 43, 5, 1)',
        },
      ],
    },
    options: {
       layout: {
            padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 0
            }
        },
      responsive: true,
      scales: {
        xAxes: [
          {
            type: 'time',
            time: {
              unit: 'day',
              round: 'day',
              displayFormats: {
                day: 'MMM D',
              },
            },
          },
        ],
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });

});
</script>


{% endblock extrahead %}


{% block content %}

<h1> Total Transaction Data</h1>
<div style="width: 80%;">
  <canvas style="width: 45%; height: 60%;" id="data_chart"></canvas>
</div> 


{% endblock content %}